@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --green: rgb(12, 131, 31);
    --black: rgb(0, 0, 0);
    --dark-grey: rgb(54, 54, 54);          /*time*/
    --dark-white: rgb(248, 248, 248);      /*time-bg*/
    --light-black: rgb(31, 31, 31);        /*item*/
    --light-grey: rgb(97, 97, 97);         /*piece*/
    --green-border: rgb(49, 134, 22);      /*Add border*/
    --light-green: rgb(49, 134, 22);       /*Add*/
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/* header section */
.header {
    position: fixed;
    width: 100%;
    height: 86px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
}

.header .logo {
    padding: 1.3rem;
    border-right: 1px solid rgb(238, 238, 238);
}

.header .delivery {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.header .delivery .time {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.header .delivery .location {
    display: flex;
}

.header .delivery .location .place {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.header .delivery .location .arrow {
    border-top: 6px solid black;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    text-align: center;
    margin-top: .2em;
    margin-left: .5em
}

.header .search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-white);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: .5rem;
    width: 45%;
    height: 48px;
    padding: 0 12px;
}

.header .search-box .search-icon {
    font-size: 1.2rem;
    padding-right: 1.5em;
    height: 20px;
    width: 20px;
    color: var(--light-grey);
}

.header .search-box .search-text {
    font-size: 1rem;
    color: var(--light-grey);
    font-family: inherit;
}

.header .login {
    padding: 0 5rem;
    color: rgb(54, 54, 54);
    font-size: 1.1rem;
}

.header .my-cart-btn {
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
}

.header .my-cart-btn .cart-icon {
    font-size: 1.1rem;
}

.header .my-cart-btn .cart {
    padding-left: .7rem;
    font-size: 1.1rem;
}

/* main section */
main, .above-footer {
    padding: 3rem 8rem 5rem 8rem;
    align-items: center;
}

main .banner img {
    margin: auto;
    padding-top: 2.5rem;
    height: 10%;
    width: 100%;
    object-fit: fill;
}

main .small-banner,
.dairy,
.paper,
.snacks,
.drinks,
.candies  {
    display: flex;
    column-gap: 1rem;
    margin: .7rem;
    overflow: auto hidden;
}

main .small-banner .sb img {
    height: 195px;
    width: 335.4px;
}

/* categories-section */
main .categories {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main .categories img {
    height: 188.235px;
    width: 128px;
}


/* items-section */
.items {
    margin-top: 2rem;
} 

section h1 {
    padding-left: .8rem;
    padding-bottom: .5rem;
}

.card {
    min-width: 179px;
    max-width: 179px;
    background: white;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.04);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 140px;
    width: 140px;
}

.card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card .info .time {
    background-color: var(--dark-white);
    color: var(--dark-grey);
    padding: .2rem .5rem;
    border: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .info .time .clock {
    font-weight: 700;
    font-size: .6rem;
    margin-right: .2rem;
}

.card .info .time span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}

.card .info .title {
    height: 40px;
    width: 100%;
    color: var(--light-black);
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    padding: .5rem 0;
    overflow: hidden;
} 

.card .weight {
    height: 26px;
    width: 100%;
    font-weight: 400;
    font-family: inherit;
    font-size: 13px;
    color: rgb(136, 135, 135);
    margin: 13px 0;
}

.card .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card .price {
    color: var(--light-black);
    font-size: 12px;
    font-weight: 600;
}

.card .add-btn button {
    border: 1px solid var(--green-border);
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: var(--light-green);
    padding: .5rem 1.3rem;
    font-size: 15px;
    font-weight: 600;
}

.card .add-btn button:focus {
    background-color: var(--green-border);
    color: white;
}

/* above-footer section */ 
.above-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 4rem;
}

.above-footer .useful-info,
.above-footer .categories-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: .8rem;
    column-gap: 2rem;
}

.above-footer .useful-info div,
.above-footer .categories-info div {
    font-size: 14px;
    color: var(--light-grey);
}

.above-footer .useful h3,
.above-footer .categories-footer-title h3 {
    font-size: 18px;
    padding-bottom: 1.5rem;
}

.above-footer .categories-footer-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.above-footer .categories-footer-title h3 {
    margin-right: 2rem;
}

.above-footer .categories-footer-title span {
    color: var(--light-green);
}

